/**** MESSAGE BIENVENUE ********/
.message{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

h2{
    font-size: 25px;
    margin: 0;
}

.message p{
    font-size: 20px;
    padding-left: 15px;
    margin: 0;
}

/**** FIN MESSAGE *******/

/***** MAP ******/
.map{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 70px 0;
}

.map img{
    width: 95%;
    z-index: 1;
    position: relative;
}

.map .icon{
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 1;
}

.icoSA,
.icoSDB,
.icoCH,
.icoEXT{
    position: relative;
}

.icoSA:hover ,
.icoCH:hover ,
.icoSDB:hover ,
.icoEXT:hover{
    width: 40px;
    cursor: pointer;
}

.map .icoSA{
    right: 60px;
    bottom: 60px;
}

.map .icoSDB{
    left: 125px;
    bottom: 110px;
}

.map .icoCH{
    left: 70px;
    bottom: 55px;
}

.map .icoEXT{
    right: 70px;
    top: 15px;
}

/******** FIN MAP ***********/

/*******  FOOTER   *********/
.footer-left img,
.footer-right img{
    display: none;
}
/**** FIN FOOTER ***/