/***** MAP ******/
.map{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 30px 0;
}

.map img{
    width: 45%;
    position: relative;
}

.map .icon{
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 1;
}
/******** FIN MAP ***********/

/**** DIVIDERS ********/
.divider-dash,
.divider-cons{
    background-color: #efefef;
    padding: 20px 0 20px 0;
    box-shadow: 0px 4px 8px rgb(0 0 0/10%), 
                0px 12px 18px rgb(0 0 0/10%);
}

.divider-dash h2,
.divider-cons h2{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/***** DASHBOARD ********/










/****FIN DASHBOARD ********/

/****** CONSIGNES *******/
.table-cons{
    width: 100%;
    margin: 10px 5px 0 5px;
}

.ico-cons-TEMP,
.ico-cons-LIGHT,
.ico-cons-SHUTTER{
    display: flex;
}

.table-cons img{
    width: 40px;
    margin: 10px 0 10px 15px;
}

.table-cons p{
    font-size: 20px;
    margin-left: 10px;
}

.ico-cons-SHUTTER{
    justify-content: center;
}






/******** FIN CONSIGNES ******/

/*******  FOOTER   *********/
/***ATTENTION FOOTER DIFFERENT SELON PAGES***/
.footer-left img,
.footer-right img{
    display: block;
}