body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/**********************************/

/**** HEADER *****/

header{
    position: sticky;
    box-shadow: 0px 4px 8px rgb(0 0 0/10%), 
                0px 12px 18px rgb(0 0 0/10%);
    display: flex;
    height: 110px;
    width: 100%;
    background-color: #efefef;
    z-index: 1000;
}

.header-left{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.header-center{
    display: flex;
    flex: 2;
    align-items: center;
}

.header-center h1{
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.header-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.header-right img{
    height: 50px;
    width: 65px;
}




/**** BURGER ******/

.header-left .btn{
    position: absolute;
    top: 50%;
    left: 12%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    width: 45px;
    cursor: pointer;
}

.header-left span{
    display: block;
    width: 100%;
    height: 6px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    background: #6b6a6a;
    transition: all .3s;
    position: relative;
}

.header-left span+span{
    margin-top: 8px;
}

.active span:nth-child(1){
    animation: ease .6s top forwards;
}

.not-active span:nth-child(1){
    animation: ease .6s top-2 forwards;
}

.active span:nth-child(2){
    animation: ease .6s scaled forwards;
}

.not-active span:nth-child(2){
    animation: ease .6s scaled-2 forwards;
    background: #b6b6b6;
}

.active span:nth-child(3){
    animation: ease .6s bottom forwards;
    background: #b6b6b6;
}

.active span:nth-child(3){
    animation: ease .6s bottom-2 forwards;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 13px;
        transform: rotate(0);
    }
    100% {
        top: 13px;
        transform: rotate(135deg);
    }
}

@keyframes top-2 {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 13px;
        transform: rotate(0);
    }
    100% {
        top: 0;
        transform: rotate(0);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 13px;
        transform: rotate(0);
    }
    100% {
        bottom: 13px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 13px;
        transform: rotate(0);
    }
    100% {
        bottom: 13px;
        transform: rotate(-135deg);
    }
}

@keyframes scaled {

    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/*****FIN BURGER *******/
/*****FIN HEADER ******/

/***** NAV ******/

.nav-left{
    position: fixed;
    box-shadow: 0px 4px 8px rgb(0 0 0/10%),
                0px 12px 18px rgb(0 0 0/10%);
    width: 45%;
    height: 100%;
    background-color: #efefef;
    transition: 1s;
    z-index: 2;
}

.nav-left ul{
    padding: 0;
    margin: 10px 0 10px 0;
}

.nav-left ul li{
    list-style: none;
    font-size: 20px;
    margin: 30px 10px 0 10px;
    padding: 10px;
}

.nav-left ul li a{
    text-decoration: none;
    color: black;
}

.nav-left ul li:hover{
    background-color: white;
    border-radius: 8px;
}

/*ajout transition + translateX right pour menu lors du click (burger active)*/

/***** FIN NAV ******/



/***** MAP ******/
.map{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 30px 0;
}

.map img{
    width: 55%;
    z-index: 1;
    position: relative;
}

.map .icon{
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 1;
}
/******** FIN MAP ***********/

/**** DIVIDERS ********/
.divider-dash,
.divider-cons{
    background-color: #efefef;
    padding: 20px 0 20px 0;
    box-shadow: 0px 4px 8px rgb(0 0 0/10%), 
                0px 12px 18px rgb(0 0 0/10%);
}

.divider-dash h2,
.divider-cons h2{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/***** DAHBOARD ********/










/****FIN DASHBOARD ********/

/****** CONSIGNES *******/









/*******  FOOTER   *********/
/***ATTENTION FOOTER DIFFERENT SELON PAGES***/


footer{
    box-shadow: 0px 4px 8px rgb(0 0 0/10%),
                0px 12px 18px rgb(0 0 0/10%); 
                /*ombre en bas inutile*/
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #efefef;
    position: relative;
    z-index: 1000;
}

.footer-left,
.footer-right{
    display: flex;
    flex: 1;
    align-items: center;
}

.footer-left{
    margin-left: 20px;
}

.footer-left img, 
.footer-right img{
    width: 60px;
    height: 60px;
}

.footer-right{
    margin-right: 20px;
    justify-content: flex-end;
}

.footer-center{
    display: flex;
    flex: 1;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.footer-center .fc-left,
.footer-center .fc-right{
    flex: 1;
}

.footer-center .fc-right img{
    height: 40px;
}



