body{
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/**********************************/
/************** HEADER ****************/

header{
    position: sticky;
    box-shadow: 0px 4px 8px rgb(0 0 0/10%), 
                0px 12px 18px rgb(0 0 0/10%);
    display: flex;
    height: 110px;
    width: 100%;
    background-color: #efefef;
    z-index: 1000;
}

.header-center{
    display: flex;
    flex: 8;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-center img{
    height: 50px;
    width: 65px;
}

.header-center h1{
    font-size: 30px;
    text-align: center;
}

.header-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.header-right img{
    height: 50px;
    width: 65px;
}

/************** BURGER *****************/

.header-left{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.header-left .btn{

    transform: translate(-50%,-50%);
    width: 45px;
    cursor: pointer;
}

.header-left span{
    display: block;
    width: 100%;
    height: 6px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    background: #6b6a6a;
    transition: all .3s;
    position: relative;
}

.header-left span+span{
    margin-top: 8px;
}

.active span:nth-child(1){
    animation: ease .6s top forwards;
}

.not-active span:nth-child(1){
    animation: ease .6s top-2 forwards;
}

.active span:nth-child(2){
    animation: ease .6s scaled forwards;
}

.not-active span:nth-child(2){
    animation: ease .6s scaled-2 forwards;
    background: #b6b6b6;
}

.active span:nth-child(3){
    animation: ease .6s bottom forwards;
    background: #b6b6b6;
}

.active span:nth-child(3){
    animation: ease .6s bottom-2 forwards;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 13px;
        transform: rotate(0);
    }
    100% {
        top: 13px;
        transform: rotate(135deg);
    }
}

@keyframes top-2 {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 13px;
        transform: rotate(0);
    }
    100% {
        top: 0;
        transform: rotate(0);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 13px;
        transform: rotate(0);
    }
    100% {
        bottom: 13px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 13px;
        transform: rotate(0);
    }
    100% {
        bottom: 13px;
        transform: rotate(-135deg);
    }
}

@keyframes scaled {

    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/***************FIN BURGER *****************/
/***************FIN HEADER ****************/
/****************** NAV **********************/

.nav-left{
    position: fixed;
    box-shadow: 0px 4px 8px rgb(0 0 0/10%),
                0px 12px 18px rgb(0 0 0/10%);
    width: 45%;
    height: 100%;
    background-color: #efefef;
    z-index: 10;
}

.nav-left ul{
    padding: 0;
    margin: 10px 0 10px 0;
}

.nav-left ul li{
    list-style: none;
    font-size: 20px;
    margin: 30px 10px 0 10px;
    padding: 10px;
}

.nav-left ul li a{
    text-decoration: none;
    color: black;
}

.nav-left ul li:hover{
    background-color: white;
    border-radius: 8px;
}


/* ????????????????????????????????
.nav-left a:active{
    background-color: #777;
}
*/




/**************** FIN NAV *****************/
/**************** DATE ************************/

.currentDate{ 
    /*dans Js*/
    padding: 8px 8px 8px 50px;
    border: 1px solid #efefef;
    border-radius: 5px;
    background-color: #efefef;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px;
    user-select: none;
}

#sun,
#moon{
    width: 25px;
    position: absolute;
    top: 140px;
    right: 185px;
}

/*********** FIN DATE ****************/
/******* MODE AFFICHAGE ******************/

.nav-left .checkbox{
    margin-top: 125px;
}

.switch input{
    display: none;
}

.switch{
    display: inline-block;
    width: 60px; /*=w*/
    height: 30px; /*=h*/
    margin: 4px 4px 4px 50px;
    transform: translateY(50%);
    position: relative;
}

.slider{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #777, 0 0 4px #777;
    cursor: pointer;
    border: 4px solid transparent;
    overflow: hidden;
    transition: 0.2s;
}

.slider:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #777;
    border-radius: 30px;
    transform: translateX(-30px);
    transition: 0.3s;
}

.switch .slider:before{
    width: 200%;
    transform: translateX(-82px);
}

.switch input:checked + .slider:before{
    transform: translateX(30px);
    background-color: #080808;
}

.switch input:checked + .slider{
    box-shadow: 0 0 0 2px #080808,
                0 0 8px #080808;
}

/************ FIN MODE AFFICHAGE *********/
/*************** FIN NAV ********************/
/******************  FOOTER   ***********/

.ombre{
    text-align:center;
    display:block;
    position: relative;
}

.ombre:before{
    content: " ";
    position: absolute;
    width:100%;
    height: 15px;
    top: -15px;
    left: 0px;
    box-shadow: 0px -10px 10px -10px #a7a7a7 inset;
}

footer{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #efefef;
    position: relative;
    z-index: 1000;
}

.footer-left,
.footer-right{
    display: flex;
    flex: 1;
    align-items: center;
}

.footer-left{
    margin-left: 20px;
}

.credit{
    font-style: italic;
    color: #6b6a6a;
    font-size: 12px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.footer-left img, 
.footer-right img{
    width: 60px;
    height: 60px;
}

.footer-right{
    margin-right: 20px;
    justify-content: flex-end;
}

.footer-center{
    display: flex;
    flex: 1;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.footer-center .fc-left,
.footer-center .fc-right{
    flex: 1;
}

.footer-center .fc-right img{
    height: 40px;
}

.footer-center img:hover{
    cursor: pointer;
}









/************* FIN FOOTER **************/






