@media screen and (max-width:680px) {
    .header-center img{
        display: none;
    }
    .header-center h1{
        width: 100%;
    }
}

@media screen and (min-width:1280px){
    .nav-left{
        display: block;
    }
    
}
