/**** HEADER *****/

header{
    position: sticky;
}
.header-top{
    box-shadow: 0px 4px 8px rgb(0 0 0/10%), 0px 12px 18px rgb(0 0 0/10%);
    display: flex;
}

.header-top-left{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header-top-left .logo{
    align-items: center;
}

.header-top-center{
    display: flex;
    flex: 3;
    align-items: center;
}
.header-top-center .input-class{
    flex: 5;
}
.header-top-center .search-icon{
    flex: 1;
}

.header-top-right{
    display: flex;
    flex: 1;
    align-items: center;
}


.nav-left{
    position: fixed;
    box-shadow: 0px 4px 8px rgb(0 0 0/10%), 0px 12px 18px rgb(0 0 0/10%);

}



/**** BODY ******/

